@mixin btn {
    display: inline-block;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid $gray-color;
    padding: 10px 25px ;
    transition: all .4s ease-in-out;
    color: $text-gray;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
@mixin hover{
    background-color: $primary;
    border-color: $primary;
    color: $text-white;
}

@mixin h1{
    font-size: 54px;
    font-weight: 800;
    color: $text-white;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 20px;
}


@mixin h2{
    font-size: 50px;
    font-weight: 600;
    color: $text-white;
    text-transform: capitalize;
    line-height: 1.3rem;
    margin-bottom: 10px;
}
@mixin h3{
    font-size: 20px;
    font-weight: 600;
    color: $text-white;
    text-transform: capitalize;
    // line-height: 1.3rem;
    margin-bottom: 20px;
}
@mixin h6{
    font-size: 15px;
    // font-weight: 600;
    color: $text-gray;
    text-transform: capitalize;
    line-height: 4px;
    margin-bottom: 20px;
}
@mixin p {
    color: $text-gray;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}