$primary :#fd4766;
$secondary: #0e1525;
$dark : #091020;
$white: #fff;
$gray-color: #c6c9d8bf;
$gradient-color : linear-gradient(-224deg, $primary 0, #337def 100%);
$gradient-text: linear-Gradient(120deg, #1c99fe 20.69%, #7644FF 50.19%, $primary 79.69%);



$primary-font:'Poppins', sans-serif;
$primary-text: #FD4766;
$text-gray: #c6c9d8bf;
$text-white: #fff;
